@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    border-bottom: solid 1px #999;
    background: rgba(0, 0, 0, 0.75);
}

nav .brand-logo {
    padding: 0 10px;
    color: #f57c00;
    text-shadow: 2px 2px #333;
    font-family: 'Nanum Brush Script', cursive;
}

.greeting {
    color: #fff;
}
.greeting p {
    font-size: 1.3em;
}

.page-footer {
    padding: 0;
    background: transparent;
    border-top: solid 1px #ccc;
}

.page-footer .footer-copyright {
    padding: 10px;
    background: transparent;
    color: #999;
}

.center {
    text-align: center;
}

#homeImage {
    border-radius: 150px;
}

#startButton {
    background-color: #f57c00;
}

p {
    font-size: 1em;
}

.layered {
    position: relative;
}

.layered .text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 1px 1px #999;
    text-align: right;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
