.question {
    width: 100%;
    min-width: 300px;
    margin: 20px 0;
}

.question + .question {
    border-top: dotted 1px #ccc;
}

.remarks {
    padding: 20px 10px;
    border: solid 1px #ccc;
}

.btn-block {
    width: 100%;
    padding: 10px 0 8px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

#a1Items > div {
    margin: 5px 0;
}

#a1Items label {
    display: inline-block;
    width: 100px;
    padding-right: 10px;
    text-align: right;
}
