body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

h1, p {
    text-align: center;
}

.ball {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background: #ff0000;
}

#board {
    position: relative;
    width: 480px;
    margin: 0 auto;
    text-align: left;
}

#board #level, #board #point {
    position: absolute;
    top: 0;
    font-size: 1.5em;
    font-weight: bold;
}
#board #level {
    left: 0;
}
#board #point {
    right: 0;
    color: #ff0000;
}

canvas {
    display: block;
    margin: 10px auto;
    background: #eee;
}

#bar {
    position: relative;
    width: 480px;
    margin: 0 auto;
    text-align: center;
}

#bar #ball-count {
    position: absolute;
    top: 0;
    left: 0;
}
